* {
	margin: 0;
	padding: 0;
}

.container {
	width: 1280px;
	margin: 0 auto;
}

.header {
	background-color: #445162;
	height: 323px;
}

.top {
	display: inline-block;
}

.top h1 {
	padding-left: 45px;
	padding-top: 40px;
	box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.3);
	font-family: Arial;
	font-size: 60px;
	line-height: 1.2;
	font-weight: 400;
	color: #ffffff;
}

.top-list {
	padding-left: 80px;
	padding-top: 20px;
	box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.3);
	font-family: Arial;
	font-size: 20px;
	line-height: 36px;
	font-weight: 400;
	color: #ffffff;
	list-style-image: url(img/check_icon.png);
}

.top-img {
	display: inline-block;
	width: 469px;
	height: 214px;
	padding-left: 250px;
}

.about-product {
	background-color: #ffffff;
	height: 300px;
	display: inline-block;
	padding-left: 45px;
	padding-top: 40px;
}

.about-product h3 {
	font-family: Arial;
	font-size: 30px;
	line-height: 36px;
	font-weight: 400;
	color: #445161;
}

.about-product p {
	font-family: Arial;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #333333;
	width: 680px;
	padding-top: 20px;
}

.img-product {
	width: 430px;
	height: 245px;
	padding-left: 750px;
	margin-top: -210px;
	display: inline-block;
	float: right;
}

.products-pluses {
	background-color: #f5f5f5;
	height: 420px;
}

.products-pluses h3 {
	font-family: Arial;
	font-size: 30px;
	line-height: 36px;
	font-weight: 400;
	color: #445161;
	text-align: center;
	padding-top: 40px;
}

.square {
	display: inline-block;
	margin-left: 50px;
	margin-top: 30px;
	position: relative;
}

.img-plus {
	position: absolute;
	margin-left: 56px;
	margin-top: -31px;
}

.products-pluses p {
	font-family: Arial;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #333333;
	width: 550px;
}

.paragraf1 {
	display: inline-block;
	float: right;
	margin-right: 637px;
	margin-top: -42px;
}

.square1 {
	display: inline-block;
	float: right;
	margin-right: 600px;
	margin-top: -65px;
	position: relative;
}

.img-plus1 {
	position: absolute;
	margin-left: 654px;
	margin-top: -31px;
}


.paragraf2 {
	display: inline-block;
	float: right;
	margin-right: 37px;
	margin-top: -72px;
}

.square3 {
	display: inline-block;
	margin-left: 50px;
	margin-top: 65px;
}

.paragraf3 {
	display: inline-block;
	float: right;
	margin-right: 637px;
	margin-top: -42px;
}

.square4 {
	display: inline-block;
	float: right;
	margin-right: 600px;
	margin-top: -65px;
}

.paragraf4 {
	display: inline-block;
	float: right;
	margin-right: 37px;
	margin-top: -72px;
}

.screenshot {
	background-color: #ffffff;
	height: 450px;
}

.screenshot h3 {
	font-family: Arial;
	font-size: 30px;
	line-height: 36px;
	font-weight: 400;
	color: #445161;
	text-align: center;
	margin-top: 35px;
}

.screenshot-img {
	margin-left: 45px;
	margin-top: 30px;
}

.desk-img {
	display: inline-block;
	padding-left: 10px;
}

.desk-img h4,
.desk-img1 h4 {
	display: inline-block;
	font-family: Arial;
	font-size: 24px;
	line-height: 30px;
	font-weight: 400;
	color: #445161;
}

.desk-img p,
.desk-img1 p {
	display: block;
	font-family: Arial;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #333333;
	width: 370px;
	padding-top: 10px;
}

.screenshot-img1 {
	margin-left: 5px;
	margin-top: 25px;
}

.desk-img1 {
	display: inline-block;
	padding-left: 10px;
}